version: '3.8'

services:
  web:
    build: .
    image: eastwind996/blog:0.0.4
    ports:
      - "2345:80"
    restart: always
    environment:
      VERSION: 0.0.4

    networks:
      - app-network

volumes: {}

networks:
  app-network:
    driver: bridge